<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operations</title>
</head>
<body class="container">
    <br>
    <div>
        <!-- <button *ngIf="loginService.isUserLoggedIn()" routerLink="userlist">ListUsers</button>
        <button *ngIf="loginService.isUserLoggedIn()" routerLink="deleteuser">DeleteUser</button>
        <button *ngIf="loginService.isUserLoggedIn()" routerLink="adduser">AddUser</button>
        <button *ngIf="loginService.isUserLoggedIn()" routerLink="logout">LogOut</button><br> -->
        <button  routerLink="userlist">ListUsers</button>
        <!-- <button  routerLink="deleteuser">DeleteUser</button> -->
        <button  routerLink="adduser">AddUser</button>
        <button  routerLink="logout">LogOut</button><br>
        <router-outlet></router-outlet>
    </div>
</body>
</html>