<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <br><br><br><br><br><br>
    <!-- <h2><b><pre>: About :</pre></b></h2> -->
    <p><b>User Management is a system for authenticating users and storing user data.<br><br>
         Our User Management APIs make managing users of your app easy.<br><br>
          These APIs handle your user registration process, user authentication, and password management.</b></p><br><br>
    <p>Designed by:<br><br> Akshata Shivaji Darkonde <br><br> Gorsa Uma Mahesh <br><br> Palivela Sai SriRam </p>
</body>
</html>

