<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <br><br><br><br>
    <h2><b>: Contact :</b></h2><br><br>
    <table>
        <tr>
            <td>
                <b>Akshata :</b>
            </td>
            <td>
                akshatadarkode@gmail.com<br><br>
                akshatashivaji2593@capgemini.org.in
            </td>
        </tr><br><br>
        <tr>
            <td>
                <b>Uma Mahesh :</b>
            </td>
            <td>
                gorsaumamahesh@gmail.com<br><br>
                g_umamahesh1605@capgemini.org.in
            </td>
        </tr><br><br>
        <tr>
            <td>
                <b>Sri ram :</b>
            </td>
            <td>
                palivelasriram@gmail.com<br><br>
                p_sriram1265@capgemini.org.in
            </td>
        </tr>
    </table><p></p>
</body>
</html>

