<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration</title>
</head>
<body>
  <div>
    <router-outlet></router-outlet>
    <br>
      <h1><b>Create An Account</b></h1><br><br>
       <form #userRegister="ngForm" [formGroup]="registerForm" (ngSubmit)="register(userRegister.value)" [ngModel]>
        <table class="center">
          <tr>
            <td>
              <label for="email"></label>Username<label style="color: red;">* :</label>
            </td>
            <td>
              <input type="email" name="email" placeholder="Enter your email id" formControlName="email" [ngModel]><br>
              <span style="color: red;" *ngIf="email && email.invalid && email.touched">This field is invalid.</span>
            </td>
          </tr>
          <tr>
            <td>
              <label for="name">Name :</label>
            </td>
            <td>
              <input type="text" name="name" placeholder="Enter your name" formControlName="name" [ngModel]><br>
            </td>
          </tr>
          <tr>
            <td>
              <label for="name">Age :</label>
            </td>
            <td>
              <input type="number" name="age" placeholder="Enter your age" formControlName="age" [ngModel]><br>
            </td>
          </tr>
          <tr>
            <td>
              <label for="password">Password<label style="color: red;">*</label> :</label>
            </td>
            <td>
              <input  type="password" name="password" placeholder="Enter your password" formControlName="password" [ngModel]><br>
              <span style="color: red;" *ngIf="password && password.invalid && password.touched" >This field is invalid.</span>
              <br>
            </td>
          </tr>
          <tr>
            <td>
              <label for="password">Confirm Password<label style="color: red;">*</label> :</label>
            </td>
            <td>
              <input  type="password" name="confirmpassword" placeholder="Re-Enter password" formControlName="confirmpassword" [ngModel]><br>
              <span style="color: red;" *ngIf="confirmpassword && confirmpassword.invalid && confirmpassword.touched" >This field is invalid.</span>
              <br>
            </td>
          </tr>
        </table><br><br>
        <button class="btn btn secondary" routerLink="success">Register</button><br>
        <br>
         <span>Already have an account? 
         <a (click)="login()">Login</a></span>
         <!-- <router-outlet></router-outlet> -->
       </form>
   </div>
</body>
</html>
